// Variables
// --------------------------

$fa-font-path:        "../fonts" !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.2.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;

$fa-var-adjust: "&#xf042;";
$fa-var-adn: "&#xf170;";
$fa-var-align-center: "&#xf037;";
$fa-var-align-justify: "&#xf039;";
$fa-var-align-left: "&#xf036;";
$fa-var-align-right: "&#xf038;";
$fa-var-ambulance: "&#xf0f9;";
$fa-var-anchor: "&#xf13d;";
$fa-var-android: "&#xf17b;";
$fa-var-angellist: "&#xf209;";
$fa-var-angle-double-down: "&#xf103;";
$fa-var-angle-double-left: "&#xf100;";
$fa-var-angle-double-right: "&#xf101;";
$fa-var-angle-double-up: "&#xf102;";
$fa-var-angle-down: "&#xf107;";
$fa-var-angle-left: "&#xf104;";
$fa-var-angle-right: "&#xf105;";
$fa-var-angle-up: "&#xf106;";
$fa-var-apple: "&#xf179;";
$fa-var-archive: "&#xf187;";
$fa-var-area-chart: "&#xf1fe;";
$fa-var-arrow-circle-down: "&#xf0ab;";
$fa-var-arrow-circle-left: "&#xf0a8;";
$fa-var-arrow-circle-o-down: "&#xf01a;";
$fa-var-arrow-circle-o-left: "&#xf190;";
$fa-var-arrow-circle-o-right: "&#xf18e;";
$fa-var-arrow-circle-o-up: "&#xf01b;";
$fa-var-arrow-circle-right: "&#xf0a9;";
$fa-var-arrow-circle-up: "&#xf0aa;";
$fa-var-arrow-down: "&#xf063;";
$fa-var-arrow-left: "&#xf060;";
$fa-var-arrow-right: "&#xf061;";
$fa-var-arrow-up: "&#xf062;";
$fa-var-arrows: "&#xf047;";
$fa-var-arrows-alt: "&#xf0b2;";
$fa-var-arrows-h: "&#xf07e;";
$fa-var-arrows-v: "&#xf07d;";
$fa-var-asterisk: "&#xf069;";
$fa-var-at: "&#xf1fa;";
$fa-var-automobile: "&#xf1b9;";
$fa-var-backward: "&#xf04a;";
$fa-var-ban: "&#xf05e;";
$fa-var-bank: "&#xf19c;";
$fa-var-bar-chart: "&#xf080;";
$fa-var-bar-chart-o: "&#xf080;";
$fa-var-barcode: "&#xf02a;";
$fa-var-bars: "&#xf0c9;";
$fa-var-beer: "&#xf0fc;";
$fa-var-behance: "&#xf1b4;";
$fa-var-behance-square: "&#xf1b5;";
$fa-var-bell: "&#xf0f3;";
$fa-var-bell-o: "&#xf0a2;";
$fa-var-bell-slash: "&#xf1f6;";
$fa-var-bell-slash-o: "&#xf1f7;";
$fa-var-bicycle: "&#xf206;";
$fa-var-binoculars: "&#xf1e5;";
$fa-var-birthday-cake: "&#xf1fd;";
$fa-var-bitbucket: "&#xf171;";
$fa-var-bitbucket-square: "&#xf172;";
$fa-var-bitcoin: "&#xf15a;";
$fa-var-bold: "&#xf032;";
$fa-var-bolt: "&#xf0e7;";
$fa-var-bomb: "&#xf1e2;";
$fa-var-book: "&#xf02d;";
$fa-var-bookmark: "&#xf02e;";
$fa-var-bookmark-o: "&#xf097;";
$fa-var-briefcase: "&#xf0b1;";
$fa-var-btc: "&#xf15a;";
$fa-var-bug: "&#xf188;";
$fa-var-building: "&#xf1ad;";
$fa-var-building-o: "&#xf0f7;";
$fa-var-bullhorn: "&#xf0a1;";
$fa-var-bullseye: "&#xf140;";
$fa-var-bus: "&#xf207;";
$fa-var-cab: "&#xf1ba;";
$fa-var-calculator: "&#xf1ec;";
$fa-var-calendar: "&#xf073;";
$fa-var-calendar-o: "&#xf133;";
$fa-var-camera: "&#xf030;";
$fa-var-camera-retro: "&#xf083;";
$fa-var-car: "&#xf1b9;";
$fa-var-caret-down: "&#xf0d7;";
$fa-var-caret-left: "&#xf0d9;";
$fa-var-caret-right: "&#xf0da;";
$fa-var-caret-square-o-down: "&#xf150;";
$fa-var-caret-square-o-left: "&#xf191;";
$fa-var-caret-square-o-right: "&#xf152;";
$fa-var-caret-square-o-up: "&#xf151;";
$fa-var-caret-up: "&#xf0d8;";
$fa-var-cc: "&#xf20a;";
$fa-var-cc-amex: "&#xf1f3;";
$fa-var-cc-discover: "&#xf1f2;";
$fa-var-cc-mastercard: "&#xf1f1;";
$fa-var-cc-paypal: "&#xf1f4;";
$fa-var-cc-stripe: "&#xf1f5;";
$fa-var-cc-visa: "&#xf1f0;";
$fa-var-certificate: "&#xf0a3;";
$fa-var-chain: "&#xf0c1;";
$fa-var-chain-broken: "&#xf127;";
$fa-var-check: "&#xf00c;";
$fa-var-check-circle: "&#xf058;";
$fa-var-check-circle-o: "&#xf05d;";
$fa-var-check-square: "&#xf14a;";
$fa-var-check-square-o: "&#xf046;";
$fa-var-chevron-circle-down: "&#xf13a;";
$fa-var-chevron-circle-left: "&#xf137;";
$fa-var-chevron-circle-right: "&#xf138;";
$fa-var-chevron-circle-up: "&#xf139;";
$fa-var-chevron-down: "&#xf078;";
$fa-var-chevron-left: "&#xf053;";
$fa-var-chevron-right: "&#xf054;";
$fa-var-chevron-up: "&#xf077;";
$fa-var-child: "&#xf1ae;";
$fa-var-circle: "&#xf111;";
$fa-var-circle-o: "&#xf10c;";
$fa-var-circle-o-notch: "&#xf1ce;";
$fa-var-circle-thin: "&#xf1db;";
$fa-var-clipboard: "&#xf0ea;";
$fa-var-clock-o: "&#xf017;";
$fa-var-close: "&#xf00d;";
$fa-var-cloud: "&#xf0c2;";
$fa-var-cloud-download: "&#xf0ed;";
$fa-var-cloud-upload: "&#xf0ee;";
$fa-var-cny: "&#xf157;";
$fa-var-code: "&#xf121;";
$fa-var-code-fork: "&#xf126;";
$fa-var-codepen: "&#xf1cb;";
$fa-var-coffee: "&#xf0f4;";
$fa-var-cog: "&#xf013;";
$fa-var-cogs: "&#xf085;";
$fa-var-columns: "&#xf0db;";
$fa-var-comment: "&#xf075;";
$fa-var-comment-o: "&#xf0e5;";
$fa-var-comments: "&#xf086;";
$fa-var-comments-o: "&#xf0e6;";
$fa-var-compass: "&#xf14e;";
$fa-var-compress: "&#xf066;";
$fa-var-copy: "&#xf0c5;";
$fa-var-copyright: "&#xf1f9;";
$fa-var-credit-card: "&#xf09d;";
$fa-var-crop: "&#xf125;";
$fa-var-crosshairs: "&#xf05b;";
$fa-var-css3: "&#xf13c;";
$fa-var-cube: "&#xf1b2;";
$fa-var-cubes: "&#xf1b3;";
$fa-var-cut: "&#xf0c4;";
$fa-var-cutlery: "&#xf0f5;";
$fa-var-dashboard: "&#xf0e4;";
$fa-var-database: "&#xf1c0;";
$fa-var-dedent: "&#xf03b;";
$fa-var-delicious: "&#xf1a5;";
$fa-var-desktop: "&#xf108;";
$fa-var-deviantart: "&#xf1bd;";
$fa-var-digg: "&#xf1a6;";
$fa-var-dollar: "&#xf155;";
$fa-var-dot-circle-o: "&#xf192;";
$fa-var-download: "&#xf019;";
$fa-var-dribbble: "&#xf17d;";
$fa-var-dropbox: "&#xf16b;";
$fa-var-drupal: "&#xf1a9;";
$fa-var-edit: "&#xf044;";
$fa-var-eject: "&#xf052;";
$fa-var-ellipsis-h: "&#xf141;";
$fa-var-ellipsis-v: "&#xf142;";
$fa-var-empire: "&#xf1d1;";
$fa-var-envelope: "&#xf0e0;";
$fa-var-envelope-o: "&#xf003;";
$fa-var-envelope-square: "&#xf199;";
$fa-var-eraser: "&#xf12d;";
$fa-var-eur: "&#xf153;";
$fa-var-euro: "&#xf153;";
$fa-var-exchange: "&#xf0ec;";
$fa-var-exclamation: "&#xf12a;";
$fa-var-exclamation-circle: "&#xf06a;";
$fa-var-exclamation-triangle: "&#xf071;";
$fa-var-expand: "&#xf065;";
$fa-var-external-link: "&#xf08e;";
$fa-var-external-link-square: "&#xf14c;";
$fa-var-eye: "&#xf06e;";
$fa-var-eye-slash: "&#xf070;";
$fa-var-eyedropper: "&#xf1fb;";
$fa-var-facebook: "&#xf09a;";
$fa-var-facebook-square: "&#xf082;";
$fa-var-fast-backward: "&#xf049;";
$fa-var-fast-forward: "&#xf050;";
$fa-var-fax: "&#xf1ac;";
$fa-var-female: "&#xf182;";
$fa-var-fighter-jet: "&#xf0fb;";
$fa-var-file: "&#xf15b;";
$fa-var-file-archive-o: "&#xf1c6;";
$fa-var-file-audio-o: "&#xf1c7;";
$fa-var-file-code-o: "&#xf1c9;";
$fa-var-file-excel-o: "&#xf1c3;";
$fa-var-file-image-o: "&#xf1c5;";
$fa-var-file-movie-o: "&#xf1c8;";
$fa-var-file-o: "&#xf016;";
$fa-var-file-pdf-o: "&#xf1c1;";
$fa-var-file-photo-o: "&#xf1c5;";
$fa-var-file-picture-o: "&#xf1c5;";
$fa-var-file-powerpoint-o: "&#xf1c4;";
$fa-var-file-sound-o: "&#xf1c7;";
$fa-var-file-text: "&#xf15c;";
$fa-var-file-text-o: "&#xf0f6;";
$fa-var-file-video-o: "&#xf1c8;";
$fa-var-file-word-o: "&#xf1c2;";
$fa-var-file-zip-o: "&#xf1c6;";
$fa-var-files-o: "&#xf0c5;";
$fa-var-film: "&#xf008;";
$fa-var-filter: "&#xf0b0;";
$fa-var-fire: "&#xf06d;";
$fa-var-fire-extinguisher: "&#xf134;";
$fa-var-flag: "&#xf024;";
$fa-var-flag-checkered: "&#xf11e;";
$fa-var-flag-o: "&#xf11d;";
$fa-var-flash: "&#xf0e7;";
$fa-var-flask: "&#xf0c3;";
$fa-var-flickr: "&#xf16e;";
$fa-var-floppy-o: "&#xf0c7;";
$fa-var-folder: "&#xf07b;";
$fa-var-folder-o: "&#xf114;";
$fa-var-folder-open: "&#xf07c;";
$fa-var-folder-open-o: "&#xf115;";
$fa-var-font: "&#xf031;";
$fa-var-forward: "&#xf04e;";
$fa-var-foursquare: "&#xf180;";
$fa-var-frown-o: "&#xf119;";
$fa-var-futbol-o: "&#xf1e3;";
$fa-var-gamepad: "&#xf11b;";
$fa-var-gavel: "&#xf0e3;";
$fa-var-gbp: "&#xf154;";
$fa-var-ge: "&#xf1d1;";
$fa-var-gear: "&#xf013;";
$fa-var-gears: "&#xf085;";
$fa-var-gift: "&#xf06b;";
$fa-var-git: "&#xf1d3;";
$fa-var-git-square: "&#xf1d2;";
$fa-var-github: "&#xf09b;";
$fa-var-github-alt: "&#xf113;";
$fa-var-github-square: "&#xf092;";
$fa-var-gittip: "&#xf184;";
$fa-var-glass: "&#xf000;";
$fa-var-globe: "&#xf0ac;";
$fa-var-google: "&#xf1a0;";
$fa-var-google-plus: "&#xf0d5;";
$fa-var-google-plus-square: "&#xf0d4;";
$fa-var-google-wallet: "&#xf1ee;";
$fa-var-graduation-cap: "&#xf19d;";
$fa-var-group: "&#xf0c0;";
$fa-var-h-square: "&#xf0fd;";
$fa-var-hacker-news: "&#xf1d4;";
$fa-var-hand-o-down: "&#xf0a7;";
$fa-var-hand-o-left: "&#xf0a5;";
$fa-var-hand-o-right: "&#xf0a4;";
$fa-var-hand-o-up: "&#xf0a6;";
$fa-var-hdd-o: "&#xf0a0;";
$fa-var-header: "&#xf1dc;";
$fa-var-headphones: "&#xf025;";
$fa-var-heart: "&#xf004;";
$fa-var-heart-o: "&#xf08a;";
$fa-var-history: "&#xf1da;";
$fa-var-home: "&#xf015;";
$fa-var-hospital-o: "&#xf0f8;";
$fa-var-html5: "&#xf13b;";
$fa-var-ils: "&#xf20b;";
$fa-var-image: "&#xf03e;";
$fa-var-inbox: "&#xf01c;";
$fa-var-indent: "&#xf03c;";
$fa-var-info: "&#xf129;";
$fa-var-info-circle: "&#xf05a;";
$fa-var-inr: "&#xf156;";
$fa-var-instagram: "&#xf16d;";
$fa-var-institution: "&#xf19c;";
$fa-var-ioxhost: "&#xf208;";
$fa-var-italic: "&#xf033;";
$fa-var-joomla: "&#xf1aa;";
$fa-var-jpy: "&#xf157;";
$fa-var-jsfiddle: "&#xf1cc;";
$fa-var-key: "&#xf084;";
$fa-var-keyboard-o: "&#xf11c;";
$fa-var-krw: "&#xf159;";
$fa-var-language: "&#xf1ab;";
$fa-var-laptop: "&#xf109;";
$fa-var-lastfm: "&#xf202;";
$fa-var-lastfm-square: "&#xf203;";
$fa-var-leaf: "&#xf06c;";
$fa-var-legal: "&#xf0e3;";
$fa-var-lemon-o: "&#xf094;";
$fa-var-level-down: "&#xf149;";
$fa-var-level-up: "&#xf148;";
$fa-var-life-bouy: "&#xf1cd;";
$fa-var-life-buoy: "&#xf1cd;";
$fa-var-life-ring: "&#xf1cd;";
$fa-var-life-saver: "&#xf1cd;";
$fa-var-lightbulb-o: "&#xf0eb;";
$fa-var-line-chart: "&#xf201;";
$fa-var-link: "&#xf0c1;";
$fa-var-linkedin: "&#xf0e1;";
$fa-var-linkedin-square: "&#xf08c;";
$fa-var-linux: "&#xf17c;";
$fa-var-list: "&#xf03a;";
$fa-var-list-alt: "&#xf022;";
$fa-var-list-ol: "&#xf0cb;";
$fa-var-list-ul: "&#xf0ca;";
$fa-var-location-arrow: "&#xf124;";
$fa-var-lock: "&#xf023;";
$fa-var-long-arrow-down: "&#xf175;";
$fa-var-long-arrow-left: "&#xf177;";
$fa-var-long-arrow-right: "&#xf178;";
$fa-var-long-arrow-up: "&#xf176;";
$fa-var-magic: "&#xf0d0;";
$fa-var-magnet: "&#xf076;";
$fa-var-mail-forward: "&#xf064;";
$fa-var-mail-reply: "&#xf112;";
$fa-var-mail-reply-all: "&#xf122;";
$fa-var-male: "&#xf183;";
$fa-var-map-marker: "&#xf041;";
$fa-var-maxcdn: "&#xf136;";
$fa-var-meanpath: "&#xf20c;";
$fa-var-medkit: "&#xf0fa;";
$fa-var-meh-o: "&#xf11a;";
$fa-var-microphone: "&#xf130;";
$fa-var-microphone-slash: "&#xf131;";
$fa-var-minus: "&#xf068;";
$fa-var-minus-circle: "&#xf056;";
$fa-var-minus-square: "&#xf146;";
$fa-var-minus-square-o: "&#xf147;";
$fa-var-mobile: "&#xf10b;";
$fa-var-mobile-phone: "&#xf10b;";
$fa-var-money: "&#xf0d6;";
$fa-var-moon-o: "&#xf186;";
$fa-var-mortar-board: "&#xf19d;";
$fa-var-music: "&#xf001;";
$fa-var-navicon: "&#xf0c9;";
$fa-var-newspaper-o: "&#xf1ea;";
$fa-var-openid: "&#xf19b;";
$fa-var-outdent: "&#xf03b;";
$fa-var-pagelines: "&#xf18c;";
$fa-var-paint-brush: "&#xf1fc;";
$fa-var-paper-plane: "&#xf1d8;";
$fa-var-paper-plane-o: "&#xf1d9;";
$fa-var-paperclip: "&#xf0c6;";
$fa-var-paragraph: "&#xf1dd;";
$fa-var-paste: "&#xf0ea;";
$fa-var-pause: "&#xf04c;";
$fa-var-paw: "&#xf1b0;";
$fa-var-paypal: "&#xf1ed;";
$fa-var-pencil: "&#xf040;";
$fa-var-pencil-square: "&#xf14b;";
$fa-var-pencil-square-o: "&#xf044;";
$fa-var-phone: "&#xf095;";
$fa-var-phone-square: "&#xf098;";
$fa-var-photo: "&#xf03e;";
$fa-var-picture-o: "&#xf03e;";
$fa-var-pie-chart: "&#xf200;";
$fa-var-pied-piper: "&#xf1a7;";
$fa-var-pied-piper-alt: "&#xf1a8;";
$fa-var-pinterest: "&#xf0d2;";
$fa-var-pinterest-square: "&#xf0d3;";
$fa-var-plane: "&#xf072;";
$fa-var-play: "&#xf04b;";
$fa-var-play-circle: "&#xf144;";
$fa-var-play-circle-o: "&#xf01d;";
$fa-var-plug: "&#xf1e6;";
$fa-var-plus: "&#xf067;";
$fa-var-plus-circle: "&#xf055;";
$fa-var-plus-square: "&#xf0fe;";
$fa-var-plus-square-o: "&#xf196;";
$fa-var-power-off: "&#xf011;";
$fa-var-print: "&#xf02f;";
$fa-var-puzzle-piece: "&#xf12e;";
$fa-var-qq: "&#xf1d6;";
$fa-var-qrcode: "&#xf029;";
$fa-var-question: "&#xf128;";
$fa-var-question-circle: "&#xf059;";
$fa-var-quote-left: "&#xf10d;";
$fa-var-quote-right: "&#xf10e;";
$fa-var-ra: "&#xf1d0;";
$fa-var-random: "&#xf074;";
$fa-var-rebel: "&#xf1d0;";
$fa-var-recycle: "&#xf1b8;";
$fa-var-reddit: "&#xf1a1;";
$fa-var-reddit-square: "&#xf1a2;";
$fa-var-refresh: "&#xf021;";
$fa-var-remove: "&#xf00d;";
$fa-var-renren: "&#xf18b;";
$fa-var-reorder: "&#xf0c9;";
$fa-var-repeat: "&#xf01e;";
$fa-var-reply: "&#xf112;";
$fa-var-reply-all: "&#xf122;";
$fa-var-retweet: "&#xf079;";
$fa-var-rmb: "&#xf157;";
$fa-var-road: "&#xf018;";
$fa-var-rocket: "&#xf135;";
$fa-var-rotate-left: "&#xf0e2;";
$fa-var-rotate-right: "&#xf01e;";
$fa-var-rouble: "&#xf158;";
$fa-var-rss: "&#xf09e;";
$fa-var-rss-square: "&#xf143;";
$fa-var-rub: "&#xf158;";
$fa-var-ruble: "&#xf158;";
$fa-var-rupee: "&#xf156;";
$fa-var-save: "&#xf0c7;";
$fa-var-scissors: "&#xf0c4;";
$fa-var-search: "&#xf002;";
$fa-var-search-minus: "&#xf010;";
$fa-var-search-plus: "&#xf00e;";
$fa-var-send: "&#xf1d8;";
$fa-var-send-o: "&#xf1d9;";
$fa-var-share: "&#xf064;";
$fa-var-share-alt: "&#xf1e0;";
$fa-var-share-alt-square: "&#xf1e1;";
$fa-var-share-square: "&#xf14d;";
$fa-var-share-square-o: "&#xf045;";
$fa-var-shekel: "&#xf20b;";
$fa-var-sheqel: "&#xf20b;";
$fa-var-shield: "&#xf132;";
$fa-var-shopping-cart: "&#xf07a;";
$fa-var-sign-in: "&#xf090;";
$fa-var-sign-out: "&#xf08b;";
$fa-var-signal: "&#xf012;";
$fa-var-sitemap: "&#xf0e8;";
$fa-var-skype: "&#xf17e;";
$fa-var-slack: "&#xf198;";
$fa-var-sliders: "&#xf1de;";
$fa-var-slideshare: "&#xf1e7;";
$fa-var-smile-o: "&#xf118;";
$fa-var-soccer-ball-o: "&#xf1e3;";
$fa-var-sort: "&#xf0dc;";
$fa-var-sort-alpha-asc: "&#xf15d;";
$fa-var-sort-alpha-desc: "&#xf15e;";
$fa-var-sort-amount-asc: "&#xf160;";
$fa-var-sort-amount-desc: "&#xf161;";
$fa-var-sort-asc: "&#xf0de;";
$fa-var-sort-desc: "&#xf0dd;";
$fa-var-sort-down: "&#xf0dd;";
$fa-var-sort-numeric-asc: "&#xf162;";
$fa-var-sort-numeric-desc: "&#xf163;";
$fa-var-sort-up: "&#xf0de;";
$fa-var-soundcloud: "&#xf1be;";
$fa-var-space-shuttle: "&#xf197;";
$fa-var-spinner: "&#xf110;";
$fa-var-spoon: "&#xf1b1;";
$fa-var-spotify: "&#xf1bc;";
$fa-var-square: "&#xf0c8;";
$fa-var-square-o: "&#xf096;";
$fa-var-stack-exchange: "&#xf18d;";
$fa-var-stack-overflow: "&#xf16c;";
$fa-var-star: "&#xf005;";
$fa-var-star-half: "&#xf089;";
$fa-var-star-half-empty: "&#xf123;";
$fa-var-star-half-full: "&#xf123;";
$fa-var-star-half-o: "&#xf123;";
$fa-var-star-o: "&#xf006;";
$fa-var-steam: "&#xf1b6;";
$fa-var-steam-square: "&#xf1b7;";
$fa-var-step-backward: "&#xf048;";
$fa-var-step-forward: "&#xf051;";
$fa-var-stethoscope: "&#xf0f1;";
$fa-var-stop: "&#xf04d;";
$fa-var-strikethrough: "&#xf0cc;";
$fa-var-stumbleupon: "&#xf1a4;";
$fa-var-stumbleupon-circle: "&#xf1a3;";
$fa-var-subscript: "&#xf12c;";
$fa-var-suitcase: "&#xf0f2;";
$fa-var-sun-o: "&#xf185;";
$fa-var-superscript: "&#xf12b;";
$fa-var-support: "&#xf1cd;";
$fa-var-table: "&#xf0ce;";
$fa-var-tablet: "&#xf10a;";
$fa-var-tachometer: "&#xf0e4;";
$fa-var-tag: "&#xf02b;";
$fa-var-tags: "&#xf02c;";
$fa-var-tasks: "&#xf0ae;";
$fa-var-taxi: "&#xf1ba;";
$fa-var-tencent-weibo: "&#xf1d5;";
$fa-var-terminal: "&#xf120;";
$fa-var-text-height: "&#xf034;";
$fa-var-text-width: "&#xf035;";
$fa-var-th: "&#xf00a;";
$fa-var-th-large: "&#xf009;";
$fa-var-th-list: "&#xf00b;";
$fa-var-thumb-tack: "&#xf08d;";
$fa-var-thumbs-down: "&#xf165;";
$fa-var-thumbs-o-down: "&#xf088;";
$fa-var-thumbs-o-up: "&#xf087;";
$fa-var-thumbs-up: "&#xf164;";
$fa-var-ticket: "&#xf145;";
$fa-var-times: "&#xf00d;";
$fa-var-times-circle: "&#xf057;";
$fa-var-times-circle-o: "&#xf05c;";
$fa-var-tint: "&#xf043;";
$fa-var-toggle-down: "&#xf150;";
$fa-var-toggle-left: "&#xf191;";
$fa-var-toggle-off: "&#xf204;";
$fa-var-toggle-on: "&#xf205;";
$fa-var-toggle-right: "&#xf152;";
$fa-var-toggle-up: "&#xf151;";
$fa-var-trash: "&#xf1f8;";
$fa-var-trash-o: "&#xf014;";
$fa-var-tree: "&#xf1bb;";
$fa-var-trello: "&#xf181;";
$fa-var-trophy: "&#xf091;";
$fa-var-truck: "&#xf0d1;";
$fa-var-try: "&#xf195;";
$fa-var-tty: "&#xf1e4;";
$fa-var-tumblr: "&#xf173;";
$fa-var-tumblr-square: "&#xf174;";
$fa-var-turkish-lira: "&#xf195;";
$fa-var-twitch: "&#xf1e8;";
$fa-var-twitter: "&#xf099;";
$fa-var-twitter-square: "&#xf081;";
$fa-var-umbrella: "&#xf0e9;";
$fa-var-underline: "&#xf0cd;";
$fa-var-undo: "&#xf0e2;";
$fa-var-university: "&#xf19c;";
$fa-var-unlink: "&#xf127;";
$fa-var-unlock: "&#xf09c;";
$fa-var-unlock-alt: "&#xf13e;";
$fa-var-unsorted: "&#xf0dc;";
$fa-var-upload: "&#xf093;";
$fa-var-usd: "&#xf155;";
$fa-var-user: "&#xf007;";
$fa-var-user-md: "&#xf0f0;";
$fa-var-users: "&#xf0c0;";
$fa-var-video-camera: "&#xf03d;";
$fa-var-vimeo-square: "&#xf194;";
$fa-var-vine: "&#xf1ca;";
$fa-var-vk: "&#xf189;";
$fa-var-volume-down: "&#xf027;";
$fa-var-volume-off: "&#xf026;";
$fa-var-volume-up: "&#xf028;";
$fa-var-warning: "&#xf071;";
$fa-var-wechat: "&#xf1d7;";
$fa-var-weibo: "&#xf18a;";
$fa-var-weixin: "&#xf1d7;";
$fa-var-wheelchair: "&#xf193;";
$fa-var-wifi: "&#xf1eb;";
$fa-var-windows: "&#xf17a;";
$fa-var-won: "&#xf159;";
$fa-var-wordpress: "&#xf19a;";
$fa-var-wrench: "&#xf0ad;";
$fa-var-xing: "&#xf168;";
$fa-var-xing-square: "&#xf169;";
$fa-var-yahoo: "&#xf19e;";
$fa-var-yelp: "&#xf1e9;";
$fa-var-yen: "&#xf157;";
$fa-var-youtube: "&#xf167;";
$fa-var-youtube-play: "&#xf16a;";
$fa-var-youtube-square: "&#xf166;";